<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alpha.module.system.mapper.AccountMapper">

    <select id="selectQueryAndPage" parameterType="com.alpha.module.system.model.AccountModel"
            resultType="com.alpha.module.system.model.AccountModel">
        SELECT  a.id,  a.`name`, a.`account_name` AS accountName, a.`backup`, a.`email`,
                a.`record_state` AS recordState, b.dic_value AS stateName
        FROM   sys_account a
        LEFT JOIN sys_direction b ON b.dic_key = a.record_state
        where b.dic_code = #{stateCode}  AND a.state = #{state}
        <if test="name != null and name.length > 0">
            <bind name="namePattern" value="'%' + name + '%'" />
            AND a.name LIKE #{namePattern}
        </if>
        <if test="accountName != null and accountName.length > 0">
            <bind name="accountNamePattern" value="'%' + accountName + '%'" />
            AND a.account_name LIKE #{accountNamePattern}
        </if>
        ORDER BY a.update_time DESC
    </select>


    <select id="getAuthorityPageList"  resultType="java.util.Map">
         SELECT a.id, a.name, a.account_name AS accountName, b.roleNameList, roleIdList
         FROM sys_account a
         LEFT JOIN (
               SELECT a.account_id,group_concat(b.role_name) AS roleNameList,
                      group_concat(a.role_id) AS roleIdList
               FROM  sys_account_relation_role a
               LEFT JOIN  sys_role b ON b.id = a.role_id
               GROUP BY a.account_id
         ) b ON b.account_id = a.id
    </select>
</mapper>