<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alpha.module.system.mapper.ResourceInfoMapper">

    <select id="selectBeanList" parameterType="com.alpha.module.system.bean.ResourceTreeBean"
            resultType="com.alpha.module.system.bean.ResourceTreeBean">
        SELECT  a.id, a.pid, c.resource_name AS pname, a.`resource_name` AS resourceName,
                a.`resource_url` AS resourceUrl, a.`resource_type` AS resourceType, a.`icon`,
                b.`dic_value` AS resourceTypeName,  a.`description`, a.`order_no` AS orderNo
        FROM    sys_resource a
        LEFT JOIN sys_direction b ON b.dic_key = a.resource_type
        LEFT JOIN sys_resource c ON c.id = a.pid
        WHERE   b.dic_code = #{typeCode} AND  a.state = #{state}
        <if test="resourceName != null and resourceName.length > 0">
            <bind name="resourceNamePattern" value="'%' + resourceName + '%'" />
                AND a.resource_name LIKE #{resourceNamePattern}
        </if>
            ORDER BY a.order_no ASC
    </select>

    <select id="getConfigTreeById" parameterType="com.alpha.module.system.bean.ResourceTreeBean"
            resultType="com.alpha.module.system.bean.ResourceTreeBean">
        SELECT a.id, a.pid, a.resource_name AS resourceName, b.roleId FROM  sys_resource  a
        LEFT  JOIN (
            SELECT  role_id AS roleId, resource_id
            FROM  sys_role_relation_resource
            WHERE role_id = #{roleId}
        ) b
        ON b.resource_id = a.id
        WHERE   a.state = #{state}
        ORDER BY a.order_no ASC
    </select>


    <select id="getResourceListAccountId" parameterType="java.util.Map"
            resultType="com.alpha.module.system.bean.ResourceTreeBean">
         SELECT b.id, b.pid, b.resource_name AS resourceName,
                b.`resource_url` AS resourceUrl, b.`icon`
         FROM
         (
             SELECT  b.resource_id  FROM sys_account_relation_role a
             LEFT JOIN sys_role_relation_resource b ON b.role_id = a.role_id
             WHERE a.account_id = #{id} AND b.resource_id IS NOT NULL
             GROUP BY b.resource_id
         ) a
         LEFT JOIN  sys_resource b ON b.id = a.resource_id
         ORDER BY order_no
    </select>


</mapper>